@charset "UTF-8";

/* 回答はここに書いてね */
.q2-content{
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin: 0 auto;
}

.part-1__text, .part-2__text{
  font-size: 18px;
  line-height: 22px;
}

.part-1__image{
  float: left;
  margin: 0 20px 10px 0;
}

.part-2__image{
  float: right;
  margin: 0 0 10px 20px;
}
/* 回答はここに書いてね */
