@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper-org{
  width: 900px;
  margin: 0 auto;
  background-color: #eff3f4;
  padding: 20px;
}

.q1-box:first-child{
  margin-left: 0;
}

.q1-box{
  float: left;
  margin-left: 20px;
  background-color: #3274ae;
  padding: 20px;
}


.q1-box__message{
  width: 230px;
  padding: 20px;
  border: solid 10px #022336;
  box-sizing: border-box;
  background-color: #eaf4ff;
}




/* 回答はここに書いてね */
