@charset "UTF-8";

/* 回答はここに書いてね */
/* .clearfix{
  width: 940px;
  background-color: #eff3f4;
  margin: 0 auto;
  box-sizing: border-box;
} */

.wrapper-org{
  width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q1-box{
  float: left;
  /* width: 230px; */
  /* box-sizing: border-box; */
  /* border: solid 10px #022336; */
  margin-left: 20px;
  background-color: #3274ae;
  padding: 20px;
}

.q1-box__message{
  width: 230px;
  padding: 20px;
  border: solid 10px #022336;
  box-sizing: border-box;
  background-color: #eaf4ff;
}




/* 回答はここに書いてね */
