@charset "UTF-8";

/* 回答はここに書いてね */
.q4-content{
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.table1, .table2{
  display: table;
  width: 100%;
}

.table1{
  margin-bottom: 30px;
}

.td {
  display: table-cell;
  padding: 20px;
}

.td-1{
  width: 100px;
  background-color: #fdc8b8;
}

.td-2{
  width: auto;
  background-color: #e0abd9;
}

.td-3{
  width: 100px;
  background-color: #b6d8ed;
}

.td-4{
  width: auto;
  background-color: #e5d32e;
}

.td-5{
  width: auto;
  background-color: #ec8f9a;
}

.td-6{
  width: 500px;
  background-color: #8fdcad;
}



/* 回答はここに書いてね */
