@charset "UTF-8";

/* 回答はここに書いてね */
/* q9-1 */

/* .box-inner-org{
  position: relative;
}

.q9-org{
  position: absolute;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
} */

/* .hover-parent {
  width: 500px;
  height: 335px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}


.hover-mask {
  width: 500px;
  height: 335px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

.hover-parent:hover .hover-mask {
  opacity: 1;
} */

.hover-parent{
  overflow: hidden;
  width: 500px;
  height: 335px;
  margin: 0 auto;
}

.scale-img{
  transition: all .5s;
}

.scale-img:hover{
  transform: scale(1.5);
}

/* q9-2 */

.loader-1{
  width: 100%;
  height: 100%;
  position: relative;
}

.loader-1::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  border: 5px solid #ecf1f2;
  border-radius: 50%;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  padding: 10px;
  display: inline-block;
  /* box-sizing: border-box; */
}

.loader-1::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  border: 5px solid #00bcd4;
  opacity: 0;
  border-radius: 50%;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  padding: 10px;
  display: inline-block;
  /* box-sizing: border-box; */
}

.loader-1:hover::after{
  animation-name: cover-border;
  animation-duration: 1.1s;
}

@keyframes cover-border{
  0% {opacity: 0;}
  100% { opacity: 1;}
}
/* 回答はここに書いてね */
