@charset "UTF-8";

/* 回答はここに書いてね */
/* q9-1 */

/* .box-inner-org{
  position: relative;
}

.q9-org{
  position: absolute;
  left: 0;
  right: 0;
  width: 500px;
  margin: 0 auto;
} */

/* .hover-parent {
  width: 500px;
  height: 335px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}


.hover-mask {
  width: 500px;
  height: 335px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

.hover-parent:hover .hover-mask {
  opacity: 1;
} */

.hover-parent{
  overflow: hidden;
  width: 500px;
  height: 335px;
}

.scale-img{
  transition: all .5s;
}

.scale-img:hover{
  transform: scale(1.5);
}
/* 回答はここに書いてね */
