@charset "UTF-8";

/* 回答はここに書いてね */
.q5-content{
  position: relative;
  background-color: #ECF1F2;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.q5-content__box{
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.box-1{
  z-index: 1;
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
}


.box-2{
  z-index: 2;
  top: 120px;
  left: 280px;
  background-color: #7084de;
}

.box-3{
  z-index: 3;
  top: 200px;
  left: 360px;
  background-color: #d0ecea;
}

.box-4{
  z-index: 4;
  top: 280px;
  left: 280px;
  background-color: #8b7a5e;
}

.box-5{
  z-index: 5;
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
}

.box-6{
  z-index: 6;
  top: 280px;
  left: 120px;
  background-color: #fffee4;
}

.box-7{
  z-index: 7;
  top: 200px;
  left: 40px;
  background-color: #deae70;
}

.box-8{
  z-index: 8;
  top: 120px;
  left: 120px;
  background-color: #de70cf;
}

.box-8::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
}


.box-9{
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
}




/* 回答はここに書いてね */
