@charset "UTF-8";

/* 回答はここに書いてね */

/* q8-1 */

.button-1, .button-2, .button-3{
  display: inline-block;
  color: white;
  margin-right: 10px;
}


.common{
  background-color: #00bcd4;
}

.error{
  background-color: #ff4081;
}

.disabled{
  background-color: #e5e5e5;
}

.shadow{
  background-color: white;
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}

.button-1{
  font-size: 16px;
  border-radius: 3px;
  height: 26px;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 26px;
}

.button-2{
  font-size: 20px;
  border-radius: 5px;
  height: 32px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 32px;
}

.button-3{
  font-size: 24px;
  border-radius: 7px;
  height: 38px;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 38px;
}

/* q8-2 */

.q8-2-org{
  /* width: 940px; */
  width: 40%;
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 30px;
}

/* .border{
  margin-top: 10px;
  border-top: 1px black solid;
} */

.q8-2-title{
  font-size: 20px;
  margin-bottom: 20px;
}


.left{
  /* float: left; */
  /* display: table-cell; */
  /* width: 50%; */
  /* text-align: right; */
}

label{
  width: 70px;
  float: left;
  margin-right: 10px;
}

input{
  border-radius: 3px;
  border: none;
  height: 18px;
}

li:not(:last-child), .confirm {
    margin-bottom: 20px;
}



.form-content{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.birth_place > select{
  width: 131px;
}


.required{
  color: red;
}

.right{
  /* float: right; */
  /* display: table-cell; */
  width: 50%;
  margin-left: 20px;
  /* height: 232px; */
}


textarea{
  width: 100%;
  height: 100%;
  border: none;
}

.bottom{
  margin-top: 20px;
  width: 211px;
}

.confirm, .submit{
  text-align: right;
}

.submit > button{
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: none;
}

/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */





/* 回答はここに書いてね */
