@charset "UTF-8";

/* 回答はここに書いてね */

/* q8-1 */

.button-1, .button-2, .button-3{
  display: inline-block;
  color: white;
  margin-right: 10px;
}


.common{
  background-color: #00bcd4;
}

.error{
  background-color: #ff4081;
}

.disabled{
  background-color: #e5e5e5;
}

.shadow{
  background-color: white;
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}

.button-1{
  font-size: 16px;
  border-radius: 3px;
  height: 26px;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 26px;
}

.button-2{
  font-size: 20px;
  border-radius: 5px;
  height: 32px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 32px;
}

.button-3{
  font-size: 24px;
  border-radius: 7px;
  height: 38px;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 38px;
}

/* q8-2 */
.q8-2-wrapper{
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}

.left{
  width: 300px;
  float: left;
}

.right{
  float: right;
  width: 380px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.form-content__title{
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.form-content__input{
  float: right;
  width: 180px;
}

.input{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  border: transparent;
}

li:not(:first-child){
  margin-top: 20px;
}

.required{
  color: red;
}

/* -------------------------------------------------------------------------------- */

.q8-2-title{
  margin-bottom: 20px;
}

.q8-2-title{
  position: relative;
}

.q8-2-title__text{
  display: inline-block;
  padding-right: 10px;
  font-size: 24px;
  font-weight: bold;
  background-color: #ECF1F2;
}

.q8-2-title::before{
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  content: "";
  background-color: #ccc;
  /* background-color: #ECF1F2; */
}

.right__input{
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
  border: transparent;
}

.confirm{
  text-align: right;
}

.confirm__text{
  display: inline;
}

.confirm__input{
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.bottom{
  text-align: right;
  margin-top: 20px;
}

.bottom__text{
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}




/* 回答はここに書いてね */
